body,html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
}
