<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__title">
        <a  class="header__link" routerLink="info">Petfinder</a>
      </div>
      <div class="header__icon-wrapper">
        <a class="header__link" routerLink="announcement"
        (click)="retrieveAnnouncement()">
          <mat-icon class="header__icon" >pets</mat-icon>
        </a>
      </div>
      <div class="header__auth">
        <div class="header__button">
          <a class="header__button-link" mat-raised-button routerLink="login">Log In</a>
        </div>
<!--        <div class="header__button">-->
<!--          <a class="header__button-link" mat-raised-button routerLink="add-announcement-list">add</a>-->
<!--        </div>-->
        <div class="header__button">
          <a class="header__button-link" mat-raised-button routerLink="registration">Sign Up</a>
        </div>
      </div>

      <div class="header__button-menu__wrapper">
      <button  mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon class="header__button-menu__button">apps</mat-icon>
      </button>
      <mat-menu #menu="matMenu">

        <a class="header__button-menu__link" routerLink="login">
        <button mat-menu-item>
          <mat-icon>supervised_user_circle</mat-icon>
          <span>Sign in</span>
        </button>
        </a>

        <a class="header__button-menu__link" routerLink="registration">
        <button mat-menu-item>
          <mat-icon>verified_user</mat-icon>
          <span>Sign up</span>
        </button>
        </a>

        <a class="header__button-menu__link" routerLink="info">
        <button mat-menu-item>
          <mat-icon>info</mat-icon>
          <span>Information</span>
        </button>
        </a>
      </mat-menu>
      </div>

    </div>
  </div>
</header>
