.header {
  background-color: black;
  display: flex;
  color: white;
  user-select: none;
  padding: 15px 0;
  width: 100%;
  margin: 0 auto;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 960px)  {
      justify-content: space-evenly;
    }

  }

  &__title {
    font-size: 3rem;
    font-family: 'Walter Turncoat', cursive;
    text-shadow: 3px 3px 15px  rgb(255, 255, 255);
    transition: all 0.3s ease;

    @media only screen and (max-width: 960px)  {
      display: none;
    }
  }
    &__link {
      color: white;
      text-decoration: none;
      transition: all 0.3s ease;

      &:hover {
        text-shadow:  4px 4px 3px  rgb(255, 255, 255);
        cursor: pointer;
        transition: all 0.3s ease;
      }
    }

  &__icon {
    font-size: 4rem;
  }

  &__auth {
    display: flex;

    @media only screen and (max-width: 960px)  {
      display: none;
    }
  }

  &__button {
    text-transform: uppercase;

    :first-child{
      margin-right: 40px;
    }

    & a {
      text-transform: uppercase;
      font-family: 'Walter Turncoat', cursive;
    }

    &-link {
      box-shadow: 1px 1px 10px 5px rgb(255, 255, 255);

      &:hover {
        box-shadow: 1px 1px 10px 10px rgb(255, 255, 255) ;
      }
    }

    &-menu__wrapper {
      display: none;

      @media only screen and (max-width: 960px)  {
        display: block;
      }
    }

    &-menu__link {
      text-decoration: none;

      & span {
        font-family: 'Walter Turncoat', cursive;
        text-transform: uppercase;
      }
    }

    &-menu__button {
      font-size: 4rem;
    }
  }
}
