.announcement {
  position: relative;
  box-shadow: 1px 1px 3px black;
  width: 350px;
  min-height: 360px;
  z-index: 1;
  margin-bottom: 20px;

  &__title {
    margin-top: 5px;
    font-size: 3rem;
    font-family: 'Walter Turncoat', cursive;
    text-align: center;
    text-shadow: 1px 1px 2px black;
  }

  &__search {

    &-wrapper {
      margin: 0 auto;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-input {
      width: 300px;
      color: black;
      margin-right: 50px;
    }

    &-button-refresh {
      margin-right: 50px;
    }
  }


  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;

    &-title {
      font-family: 'Walter Turncoat', cursive;
    }


    &-subtitle {
      font-family: 'Walter Turncoat', cursive;
      text-align: right;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.2s ease;
      padding: 1px;
      text-decoration: underline;

      &:hover {
        text-shadow: 1px 1px 5px black;
      }
    }
  }

  &__details {
    color: black;
  }

  &__image{
      height: 250px;

    & img {
      height: 100%;
      max-width: 100%;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }


  &__common {
    display: flex;
    align-items: center;
  }
  &__header-image {
    width: 100%;
  }

  &__content {
    padding: 5px;
    border-bottom: 1px solid black;
    text-align: center;
    color: green;
  }

  &__footer {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
  }

  &__date-icon {
    margin-left: 5px;
  }

}


