::ng-deep .snackbar-delete {
  background: red;
  color: white;
}

::ng-deep .snackbar-published {
  background: blue;
  color: white;
}

::ng-deep .snackbar-refused {
  background: #ec9e2c;
  color: white;
}
