.add-announcement {
  margin: 0 auto;
  min-width: 250px;
  max-width: 1000px;
  padding: 35px 75px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 7px  black;



  @media only screen and (max-width: 450px)  {
    min-width: 200px;
  }

  @media only screen and (max-width: 400px)  {
    padding: 35px 45px;
  }

  &__main-title {
    text-align: center;
  }

  & button {
    margin: 0 auto;
  }
}

.announcement-sended {
  text-align: center;
  font-family: 'Walter Turncoat', cursive;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #3f51b5;

  & h2 {
    font-size: 3rem;
  }

  &__btn {
    font-family: 'Walter Turncoat', cursive;
  }
}
