.form {
  margin: 50px auto;
  width: 300px;
  padding: 55px 75px;
  border: 1px solid black;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 7px  black;

  @media only screen and (max-width: 450px)  {
  width: 220px;
}

  @media only screen and (max-width: 360px)  {
    width: 150px;
  }

  &__title {
    text-align: center;
  }

  &__button {
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    text-transform: uppercase;
    transition: all 0.1s linear;

    &:hover {
      box-shadow: 1px 1px 10px  green;
    }
  }

  &__text {
    text-align: center;
    margin-top: 30px;
  }

  &__link {
    font-weight: bold;
    color: #673ab7;
    text-decoration: none;
    padding: 1px;
    transition: all 0.1s linear;

    &:hover {
      text-shadow: 1px 1px 5px  #673ab7;
    }
  }
}
