<form class="form" [formGroup]="form"  (ngSubmit)="login()">
  <h2 class="form__title">Log in</h2>
  <mat-form-field appearance="legacy">
    <mat-label>E-mail</mat-label>
    <input matInput placeholder="Enter your email:" formControlName="email"  [(ngModel)]="user.email">
    <mat-icon matSuffix>email</mat-icon>
  </mat-form-field>

  <mat-form-field class="log-in-item">
    <input
      matInput
      placeholder="Enter your password"
      formControlName="password"
      [(ngModel)]="user.password"
      [type]="hide ? 'password' : 'text'"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>

  <button class="form__button" mat-raised-button>Sign in</button>
  <p class="form__text">Don't have an account? |
    <a class="form__link" routerLink="/registration">Sign up</a></p>
</form>


