.announcement {
  box-shadow: 5px 5px 20px rgba(#BA7E7E, .5);
  width: 350px;
  min-height: 360px;
  margin: 20px 30px 60px;
  font-family: 'Walter Turncoat', cursive;

  @media only screen and (max-width: 420px)  {
    width: 250px;
  }

  @media only screen and (max-width: 350px)  {
    width: 220px;
  }

  &__title {
    margin-top: 25px;
    font-size: 3rem;
    text-align: center;
    text-shadow: 1px 1px 2px black;

    @media only screen and (max-width: 375px)  {
      font-size: 2rem;
    }
  }

  &__search {

    &-wrapper {
      margin: 0 auto;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      @media only screen and (max-width: 960px)  {
        flex-direction: column;
      }

      @media only screen and (max-width: 450px)  {
        width: 100%;
      }


    }

    &-form {
      display: flex;
      align-items: center;

      @media only screen and (max-width: 375px)  {
        width: 80%;
      }
    }

    &-input {
      width: 400px;
      color: black;
      font-size: 1.4rem;
      margin-right: 50px;

      @media only screen and (max-width: 960px)  {
        width: 300px;
        font-size: 1.2rem;
      }

      @media only screen and (max-width: 450px)  {
        width: 220px;
        font-size: 1rem;
      }

    }

    &-button-search {
      margin-left: 100px;

      @media only screen and (max-width: 960px)  {
        margin-left: 0;
      }

    }

  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;

    @media only screen and (max-width: 1345px)  {
      justify-content: space-around;
    }

    @media only screen and (max-width: 960px)  {
      flex-direction: column;
      align-items: center;
    }

    &-subtitle {
      text-align: right;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.2s ease;
      padding: 1px;
      text-decoration: underline;

      &:hover {
        text-shadow: 1px 1px 5px rgba(#BA7E7E, 0.5);
      }
    }
  }

  &__details {
    color: black;
  }

  &__image{
      height: 250px;

    & img {
      height: 100%;
      max-width: 100%;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__common {
    display: flex;
    align-items: center;

  }
  &__header-image {
    width: 100%;
  }

  &__price {
    padding: 20px 0px;
    border-bottom: 2px solid rgba(#BA7E7E, 0.5);
    text-align: center;
    font-weight: bold;
    color: rgba(#BA7E7E, 0.9);
  }

  &__footer {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
  }

  &__date-icon {
    margin-left: 6px;
  }
}

.pagination-controls {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 1.2rem;
  font-family: 'Walter Turncoat', cursive;
}


