
<div class="announcement-wrapper">

    <h1 class="announcement__title">Announcements</h1>

    <div class="announcement__search-wrapper">

<div class="announcement__search-form">
      <mat-form-field class="announcement__search-input">
        <input matInput placeholder="Search announcement by title" [(ngModel)]="title" (keyup.enter)="searchTitle()">
      </mat-form-field>
      <div class="announcement__search-button-refresh">
      <button mat-mini-fab aria-label="Refresh" color="warn" (click)="refreshAnnouncementList()">
        <mat-icon>cancel icon</mat-icon>
      </button>
      </div>
</div>
      <div class="announcement__search-button-search">
        <button mat-raised-button (click)="searchTitle()">Search</button>
      </div>

    </div>

<div class="announcement__list">

    <mat-card class="announcement" *ngFor="let announcement of announcements | paginate: { itemsPerPage: 6, currentPage: p } ">
      <mat-card-header class="announcement__header">
        <div mat-card-avatar >
          <img class="announcement__header-image" src="{{ announcement.section.avatar }}" alt="avatar">
        </div>
        <mat-card-title class="announcement__list-title">{{ announcement.title }}</mat-card-title>
        <mat-card-subtitle *ngIf="this.authService.isAuthenticated()" class="announcement__list-subtitle">
          <a class="announcement__details" routerLink="/announcement/{{ announcement.announcement_id}}">Details</a>
        </mat-card-subtitle>
      </mat-card-header>

      <div class="announcement__image">
      <img  src="{{ announcement.images[0].image }}" alt="Image of pet">
      </div>

      <mat-card-content class="announcement__price">
        <h2>{{ announcement.price }}$</h2>
      </mat-card-content>
      <mat-card-footer class="announcement__footer">
        <h4 class="announcement__common">{{ announcement.location }}<mat-icon> location_on</mat-icon></h4>
        <h4 class="announcement__common">{{ announcement.created_date }}<mat-icon class="announcement__date-icon">access_time</mat-icon></h4>
      </mat-card-footer>
    </mat-card>

</div>

<div class="pagination-controls">
  <pagination-controls  (pageChange)="p = $event"></pagination-controls>
</div>
  </div>

