.announcement__card {
  position: relative;
  font-family: 'Walter Turncoat', cursive;
  overflow: hidden;
  width: 90%;
  margin: 100px auto;
  min-height: 450px;
  box-shadow: 5px 5px 15px rgba(#BA7E7E, .5);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;


  @media only screen and (max-width: 990px)  {
    flex-direction: column;
    text-align: center;
  }

 &-error {
   @media only screen and (max-width: 990px)  {
     flex-direction: column;
   }
 }

  &-images {
    flex: 1.7;
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
      max-width: 300px;
      padding-top: 20px;
    }

    @media only screen and (max-width: 990px)  {
      flex-direction: column;
    }

    &-error img {
      max-width: 300px;
      padding-top: 20px;

      @media only screen and (max-width: 700px)  {
        max-width: 200px;
      }
    }
  }


  &-data {
    position: absolute;
    right: 20px;
    top: 20px;

    @media only screen and (max-width: 990px)  {
      position: relative;
      right: 0;
      top: 0;
    }
  }

  &-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    margin-bottom: 20px;
    color: black;
    font-size: 3rem;

    @media only screen and (max-width: 990px)  {
      position: relative;
    }
  }

  &-price{
    position: absolute;
    left: 20px;
    bottom: 0;
    color: rgba(#BA7E7E, .9);

    @media only screen and (max-width: 990px)  {
      position: relative;
      left: 0;
    }
  }

  &-description {
    text-transform: none;
    letter-spacing: 0;
    margin-bottom: 17px;
    font-size: 1.1em;
    line-height: 1.6em;
    margin-right: 25px;
    font-weight: bold;
    text-align: justify;

    @media only screen and (max-width: 990px)  {
      position: relative;
      text-align: center;
    }
  }

  &-product {
    flex: 2;

    &__error {

      &-title {
        font-size: 2.2rem;

        @media only screen and (max-width: 700px)  {
          font-size: 1.7rem;
        }

        @media only screen and (max-width: 520px)  {
          font-size: 1rem;
        }
      }

      &-description {
        font-weight: bold;
        font-size: 1.2rem;


        @media only screen and (max-width: 990px)  {
          text-align: center;
        }

        @media only screen and (max-width: 700px)  {
          font-size: 1.2rem;
        }

        @media only screen and (max-width: 520px)  {
          font-size: 0.7rem;
        }
      }
    }


  }

  &-footer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    color: black;
    @media only screen and (max-width: 990px)  {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &-phone {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    @media only screen and (max-width: 990px)  {
      position: relative;
      transform: translateX(0);
      left: 0;
    }
  }

  &-email {
    position: absolute;
    bottom: 0;
    right: 20px;

    @media only screen and (max-width: 990px)  {
      position: relative;
      transform: translateX(0);
      right: 0;
  }
  }

  &-icon {
    position: relative;
    top: 4px;
  }

}




