
<div *ngIf="currentAnnouncement">

  <div class="container__card">
    <div class="images">
      <img src="{{ currentAnnouncement.images[0].image }}" />
    </div>
    <div class="product">
      <p class="container__data">Posted at: {{currentAnnouncement.created_date}}</p>
      <h1 class="container__title">{{ currentAnnouncement.title }}</h1>
      <div class="container__price">
      <h2>Price: {{ currentAnnouncement.price }}$</h2>
      </div>
      <p class="desc">{{ currentAnnouncement.description }} </p>
      <div class="container__card-footer">
       <h2 class="container__card-phone">{{ currentUser.phone }} <mat-icon class="container__card-icon"> phone</mat-icon></h2>
        <h2 class="container__card-email">{{ currentUser.email }} <mat-icon class="container__card-icon"> email</mat-icon></h2>
      </div>
    </div>
  </div>

</div>
<div *ngIf="!currentAnnouncement">
  <br />
  <div class="container__card">
    <div class="images">
      <img src="https://purepng.com/public/uploads/medium/purepng.com-sign-stoptraffic-signsign-stopnotify-driversstop-signs-1701527614634stobe.png" />
    </div>
    <div class="product__error">
      <h1 class="announcement__error">Cannot access this announcement.</h1>
      <p class="desc">Probably it doesn't exist.</p>
    </div>
  </div>
</div>
